:root {
  --mainColor: #d64550;
  --secondaryColor: #dbdad6;
  --tertiaryColor: #dbdad6;
  --mainBackColor: white;
  --regularTextColor: grey;
  --titleFont: "Share Tech", sans-serif;
  --textFont: "Open Sans";
}

/*
  Animations
 */
@keyframes glowing {
  0% {
    background-color: var(--secondaryColor);
    box-shadow: 0 0 5px var(--secondaryColor);
  }
  50% {
    background-color: var(--mainColor);
    box-shadow: 0 0 20px var(--mainColor);
  }
  100% {
    background-color: var(--secondaryColor);
    box-shadow: 0 0 5px var(--secondaryColor);
  }
}

/*
 Header part
 */
header {
  height: 100vh;
}

.headerSlides {
  display: none;
  height: 100vh;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-size: cover;
  border: 0;
  color: white;
}

#headerDiv {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

#headerTitle {
  min-width: 325px;
  font-family: var(--titleFont);
  font-size: 150%;
  text-align: center;
}

#headerTitle h2 {
  border: 1px solid var(--mainColor);
  background-color: var(--mainColor);
  font-size: 120%;
}

/*
  Side menu part
  */
.sideMenu {
  position: -webkit-sticky;
  position: sticky;
  width: 10vw;
  top: 10vh;
  z-index: 4;
  float: right;
  font-family: var(--textFont);
  margin-left: -20vw;
}

#sideMenuHome {
  position: absolute;
  bottom: 0;
  top: unset;
  right: 0;
  margin: 0;
  height: 66px;
}

#sideMenuMore {
  animation: glowing 1300ms infinite;
}

.sideMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 120px;
  max-width: 10%;
  overflow: hidden;
}

.active a {
  animation: glowing 3000ms infinite;
}

.sideMenu ul li {
  float: center-block;
}

.sideMenu ul li a {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  height: 50px;
  text-decoration: none;
  background-color: black;
}

.sideMenu ul li a:hover {
  background-color: var(--mainColor);
}

/*
 Body sections
 */
body {
  background-color: var(--secondaryColor);
  font-family: var(--textFont), regular;
  margin: 0;
  color: var(--regularTextColor);
  overflow-x: hidden;
}

#Experiences a {
  color: inherit;
}

.horizontalDiv {
  margin-top: 2%;
  margin-bottom: 3%;
}

#profilePic {
  border-radius: 50%;
  height: 35vw;
  width: 35vw;
  border: 10px solid var(--secondaryColor);
}

#downloadResume {
  background-color: var(--mainColor);
  color: var(--mainBackColor);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  float: right;
  animation: glowing 1300ms infinite;
  cursor: pointer;
}

#downloadResume:hover {
  background-color: var(--secondaryColor);
  animation: none;
}

#projectGallery {
  width: 100%;
  margin: 0 auto;
  padding: 5px 6%;
}

#projectGallery div:hover {
  z-index: 1;
}

.projectDataContainer {
  position: relative;
  float: left;
  margin: 1.5%;
  width: 20vw;
}

.projectImage {
  border-radius: 50%;
  height: auto;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.projectDataContainer:hover .projectImage {
  transform: scale(1.5, 1.5);
  transition: 0.3s transform;
}

.projectData {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: grey;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
}

.projectData p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify-all;
}

.projectData h3 {
  text-align: center;
}

.projectData div div {
  margin-right: 30%;
  text-align: right;
}

.projectHeader {
  font-family: var(--titleFont);
  color: white;
  font-size: 120%;
}

.projectDataContainer:hover .projectData {
  opacity: 0.8;
  color: white;
}

#Skills {
  min-height: 70vh;
}

.skill {
  list-style-type: none;
  position: relative;
  float: left;
  background-color: var(--mainColor);
  border-radius: 10%;
  color: white;
  padding: 1%;
  margin: 0.3% 0.5%;
  color: var(--mainBackColor);
}

.skill:hover {
  background-color: var(--secondaryColor);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: grey;
}

.mainContent {
  min-width: 325px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.dataBlock {
  width: 75%;
  min-height: 50vh;
  margin-bottom: 2%;
  margin-top: 2%;
  display: block;
}

.primaryBack {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background: var(--mainBackColor);
  padding-bottom: 50px;
}

.secondaryBack {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-bottom: 50px;
}

.headers {
  color: var(--mainColor);
  font-family: var(--titleFont);
  font-size: 250%;
  text-align: center;
}

.header2 {
  color: var(--mainColor);
  font-family: var(--titleFont);
  font-size: 200%;
}

.cite {
  font-family: var(--textFont);
  font-style: italic;
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.rAlign {
  text-align: justify;
}

.columns div {
  flex-grow: 1;
}

.detail {
  display: inline-block;
  display: -moz-inline-box;
  zoom: 1;
  width: 33%;
}

.colhalf {
  margin: 1px;
  width: 46%;
  display: inline-block;
}

#left {
  margin-right: 3%;
}

#right {
  margin-left: 3%;
}

.col3-4 {
  margin-left: 3%;
  width: 66%;
  display: inline-block;
}

.col1-4 {
  margin: 1px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.col1-4 h4 {
  margin: 0;
  font-size: 110%;
  text-align: left;
}

.col1-4 p {
  margin: 0;
}

.timeLapse {
  font-style: italic;
}

.place {
  color: var(--mainColor);
  display: inherit;
}
.place img {
  margin-right: 10px;
}

.row {
  display: inline-block;
  width: 100%;
  margin-top: 1%;
}

/*
*Contact Part
*/
#Contact {
  min-width: 100vw;
  max-height: 200px;
  text-align: center;
  color: #b3b3b3;
  margin-bottom: 50px;
}

#Contact h1 {
  font-family: var(--titleFont);
  font-size: 250%;
  color: white;
}
#Contact hr {
  width: 70vw;
}

#socialIcons {
  display: block;
}

#socialIcons ul {
  margin: 0;
  padding: 0px;
  text-align: center;
}

#socialIcons ul li {
  margin-right: 19px;
  height: 34px;
  line-height: 50px;
  list-style-type: none;
  display: inline-block;
  background: #fff;
  border-radius: 71px;
  padding: 10px;
  border: 1px solid #888;
}

#socialIcons ul li a {
  width: 34px;
  height: 34px;
  display: inline-block;
}

#twitterIcon,
#facebookIcon,
#linkedInIcon {
  background: url("../images/icons/social-icons.png") -74px 0px;
}

#twitterIcon:hover,
#facebookIcon:hover,
#linkedInIcon:hover {
  background-position-y: -33px;
}

#facebookIcon {
  background-position: 10px 0px;
}

#linkedInIcon {
  background-position: -245px 0px;
}

#gitHubIcon {
  background: url("../images/icons/github.png");
}

#gitHubIcon:hover {
  background: url("../images/icons/githubh.png");
}

#emailIcon {
  background: url("../images/icons/email.png");
}

#emailIcon:hover {
  background: url("../images/icons/emailh.png");
}

.img-circle {
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

#Activities {
  height: 100vh;
  width: 100%;
}

.activitiesSlides {
  display: none;
  height: 100vh;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-size: cover;
  border: 0;
  color: white;
}

.sliderContent {
  padding-top: 5vh;
}

.sliderHeader {
  font-family: var(--titleFont);
  font-size: 150%;
  padding-top: 25vh;
  color: #fff;
  text-align: center;
  z-index: 3;
  position: relative;
}

.sliderPara {
  font-family: var(--textFont);
  color: #fff;
  text-align: center;
  z-index: 3;
  position: relative;
  margin-left: 20%;
  width: 60%;
}

#slider {
  background-position: center;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border: 0;
}

.icon {
  font-size: 50px;
  color: #fff;
  position: relative;
  z-index: 3;
}

#ileft {
  float: left;
  margin: 0 30px;
}

#iright {
  float: right;
  z-index: 5;
  margin: 0 30px;
}

/**
 * Mobile view
 **/

@media only screen and (max-width: 815px) {
  .sideMenu {
    visibility: hidden;
  }
  .columns {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .img-circle {
    border-radius: 50%;
    margin-left: 20%;
    margin-right: 20%;
  }
  #profilePic {
    border-radius: 50%;
    height: 40vw;
    width: 40vw;
    border: 10px solid var(--secondaryColor);
  }
  #headerDiv {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
  }
  .columns div {
    flex-grow: 1;
    width: 80vw;
  }
  #downloadResume {
    background-color: var(--mainColor);
    color: var(--mainBackColor);
    border: none;
    margin-top: 2vh;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    float: none;
    animation: glowing 1300ms infinite;
    cursor: pointer;
    width: 60vw;
  }
  .primaryBack {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background: var(--mainBackColor);
    padding-bottom: 2vh;
  }
  .col1-4 {
    margin: 10% 0 2%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .col3-4 {
    margin-left: 10%;
    width: 100%;
    display: inline-block;
  }
  .projectDataContainer {
    position: relative;
    float: left;
    margin: 1.5%;
    width: 30vw;
  }
  .projectData p {
    display: none;
  }
  #socialIcons ul li {
    margin: 0;
    height: 34px;
    line-height: 50px;
    list-style-type: none;
    display: inline-block;
    background: #fff;
    border-radius: 71px;
    padding: 10px;
    border: 1px solid #888;
  }
  #Contact {
    min-width: 100vw;
    max-height: 300px;
    text-align: center;
    color: #b3b3b3;
    margin-bottom: 50px;
  }
}
